<!-- Button float -->
<ion-button
  slot="start"
  fill="clear"
  class="fixed top-4 left-2 z-10 text-white"
  (click)="goToWelcome()">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-content [fullscreen]="true" class="ion-padding" style="--background: url('/assets/images/bg.jpg') no-repeat center center / cover;">

  <!-- bg gradient & blur -->
  <div class="fixed inset-0 z-0">
    <div class="w-full h-full bg-[url('/assets/images/bg.jpg')] bg-cover bg-center blur-xs"></div>
    <div class="absolute inset-0 bg-gradient-to-b from-transparent via-black/70 to-black pointer-events-none"></div>
  </div>

  <!-- content -->
  <div class="z-10 p-2 relative flex items-start justify-center ">

    <div class="mt-24 w-full">
      <h1 class="text-white font-semibold font-heading text-4xl mb-8">
        Bienvenido a GymApp
      </h1>
      <p class="mb-2 text-white/80">
        Inicia sesión con:
      </p>
      <ion-button
        expand="block"
        fill="outline"
        size="large"
        shape="round"
        color="secondary"
        class="normal-case mb-6 !mt-0"
        (click)="loginWithGoogle()">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" class="w-5 h-5" alt="Google"
          />
        <span class="pl-3 text-base">Cuenta de Google</span>
      </ion-button>
      <p class="mb-2 text-white/80">
        O continua con:
      </p>


    <form >
      <!-- email -->
      <ion-item
        class="mb-4">
          <ion-icon
            name="person-outline"
            slot="start"
            size="default"
            aria-hidden="true"
            class="mr-2">
          </ion-icon>
          <ion-input
            type="email"
            [(ngModel)]="email"
            placeholder="Ingresa tu email">
          </ion-input>
      </ion-item>
      <!-- password -->
      <ion-item class="mb-4 rounded-lg ">
        <ion-icon
          name="lock-closed-outline"
          slot="start"
          size="default"
          aria-hidden="true"
          class="mr-2">
        </ion-icon>
        <ion-input
          type="password"
          [(ngModel)]="password"
          placeholder="Ingresa tu contraseña">
        </ion-input>
      </ion-item>
    </form>
    <ion-button
      expand="block"
      fill="solid"
      size="large"
      shape="round"
      color="primary"
      (click)="login()"
      class="">
      Iniciar Sesión
    </ion-button>
    
    <div class="text-center mt-4">
      <p class="text-white/80 text-sm">
        ¿Olvidaste tu contraseña? 
        <span class="text-blue-400 cursor-pointer underline" (click)="goToForgotPassword()">
          Recupérala aquí
        </span>
      </p>
    </div>
    </div>
  </div>

</ion-content>
