<ion-content
  [fullscreen]="true"
  class="ion-padding bg-[var(--brand-light-color)]">

  <div class="p-2">
    <!-- Progress Bar -->
    <div class="p-4 pb-0 mb-10">
      <ion-text color="medium">
        <p
          class="text-sm text-[var(--brand-secondary-color)] text-center mb-2 ">
          Paso {{ currentStep }} de {{ totalSteps }}
        </p>
      </ion-text>
      <ion-progress-bar
        [value]="getProgress() / 100"
        color="primary">
      </ion-progress-bar>
    </div>

    <!-- Titulo -->
    <h1
      class="text-3xl font-heading font-semibold text-center mb-8">
      ¡Bienvenido a <br>GymApp!
    </h1>

    <h2
      class="text-[var(--brand-primary-color)] text-3xl font-semibold font-heading text-center">
        <span *ngIf="currentStep === 1">
          Datos Personales
        </span>
        <span *ngIf="currentStep === 2">
          Tu Objetivo
        </span>
    </h2>

    <p
      class="text-[var(--brand-secondary-color)] text-center text-lg mb-8">
      <span *ngIf="currentStep === 1">
        Completaremos tu perfil
      </span>
      <span *ngIf="currentStep === 2">
        ¿Qué quieres lograr?
      </span>
    </p>


    <!-- Paso 1 -->
    <div *ngIf="currentStep === 1">
      <!-- Campo Nombre -->
      <ion-item
        class="mb-4 rounded-lg">
        <ion-icon
          name="person-outline"
          slot="start"
          size="default"
          aria-hidden="true"
          class="mr-3 pt-6">
        </ion-icon>
        <ion-label
          position="stacked">
          Nombre Completo *
        </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="formData.nombre"
          placeholder="Ingresa tu nombre completo"
          maxlength="50">
        </ion-input>
      </ion-item>
      <ion-item
        class="mb-4 rounded-lg">
        <ion-icon
          name="people-outline"
          slot="start"
          size="default"
          aria-hidden="true"
          class="mr-3 pt-6">
        </ion-icon>
        <ion-label
          position="stacked">
          Tipo de Usuario *
        </ion-label>
        <ion-select
            [(ngModel)]="formData.role"
            placeholder="Selecciona tu rol"
            style="--placeholder-color: var(--ion-color-medium);">
          <ion-select-option value="cliente">Cliente</ion-select-option>
          <ion-select-option value="entrenador">Entrenador</ion-select-option>
          <ion-select-option value="gimnasio">Gimnasio</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Descripción del rol -->
      <ion-card
        color="warning"
        class="!mx-0"
        *ngIf="formData.role">
        <p
          class="text-center my-4 mx-0 p-3 text-base">
          <ion-icon name="fitness-outline"></ion-icon>
          <span class="block">{{ getRoleDescription(formData.role) }}</span>
        </p>
      </ion-card>
    </div>

    <!-- Paso 2: Objetivo (solo para clientes) -->
    <div *ngIf="currentStep === 2 && formData.role === 'cliente'">
      <!-- Campo Objetivo -->
          <ion-item
            class="mb-4 rounded-lg bg-[--ion-color-light]">
            <ion-icon
              name="bookmark-outline"
              slot="start"
              size="default"
              aria-hidden="true"
              class="mr-3 pt-6">
            </ion-icon>
            <ion-label
              position="stacked">
              Objetivo Principal *
            </ion-label>
            <ion-select
              [(ngModel)]="formData.objetivo"
              placeholder="¿Cuál es tu meta?"
              class="">
              <ion-select-option value="BAJAR_PESO">{{ objetivos.BAJAR_PESO }}</ion-select-option>
              <ion-select-option value="AUMENTAR_MUSCULO">{{ objetivos.AUMENTAR_MUSCULO }}</ion-select-option>
              <ion-select-option value="MANTENER_PESO">{{ objetivos.MANTENER_PESO }}</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Descripción del objetivo -->
          <ion-card
            color="warning"
            class="!mx-0"
            *ngIf="formData.role">
            <p
              class="text-center my-4 mx-0 p-3 text-base">
              <ion-icon name="rocket-outline"></ion-icon>
              <span class="block">{{ getObjetivoDescription(formData.objetivo) }}</span>
            </p>
          </ion-card>

    </div>

    <!-- Mensaje de Error -->
        <ion-text color="danger" *ngIf="errorMessage">
          <p class="text-center text-[var(--ion-color-danger)] my-4 mx-0 text-sm">{{ errorMessage }}</p>
        </ion-text>

        <!-- Botón Continuar/Finalizar -->
        <ion-button
          expand="block"
          fill="solid"
          size="large"
          shape="round"
          color="primary"
          (click)="nextStep()"
          class="!mt-8"
          [disabled]="isLoading">
          <!-- <ion-icon
            name="arrow-forward-outline"
            slot="end"
            size="small"
            class="ml-1"
            *ngIf="!isLoading && (currentStep < totalSteps || formData.role !== 'cliente')">
          </ion-icon>
          <ion-icon
            name="checkmark-circle-outline"
            slot="end"
            size="small"
            class="ml-1"
            *ngIf="!isLoading && currentStep === totalSteps && formData.role === 'cliente'">
          </ion-icon> -->

          <span *ngIf="!isLoading && currentStep < totalSteps">Continuar</span>
          <span *ngIf="!isLoading && (currentStep === totalSteps || formData.role !== 'cliente')">Finalizar</span>
          <span *ngIf="isLoading">Configurando...</span>
        </ion-button>

  </div>

</ion-content>
